/* .navbar{
    background-color: rgb(7, 91, 160);
    display: flex;
} */

.navbar{
    display: flex;
    height: 110px;
    margin: 0;
    border:solid 1px;
    border-radius: 5px;
    background-color: rgb(7, 91, 160);
    color:wheat;
}

.navbar h1{
    margin: 15px;
}

.navbar div{
    margin-left: 80px;
    padding-top: 20px;
}
