.active {
    text-decoration: none;
    font-size: 35px;
    padding: 15px 15px;
    -webkit-text-stroke: 0.9px black;
    font-weight: bolder;
    color: #faf6f4;
    
}

.desactive {
    font-size: 30px;
    padding: 10px 10px;
    -webkit-text-stroke: 0.5px black;
    color: #9b9b94;
    text-decoration: none;
    font-weight: bolder;
}